<div class="flex flex-col center justify-between">
<div><h1 class="logo first-color">WazaCode Budget App</h1></div>


<div class="btn-primary first-color full-width flex center"><%= link_to 'LOG IN', new_user_session_path, class: 'btn first-color full-width' %></div>
<div class="btn-primary full-width flex center"><%= link_to 'SIGN UP', new_user_registration_path, class: 'btn first-color full-width' %></div>
</div>